URL encoding error (%2B / plus character)

There seems to be an issue with URL encoding.
The following URL (Compiler Explorer) link demonstrates the issue:
https://godbolt.org/g/dW4xbr
When opening with the current version of Pale Moon (27.2.0), the `+` is missing from `return x + y` as well as from `-std=c++1z`. The link works correctly with other browsers (tested with regular Firefox and Vivaldi).

It seems that Pale Moon does one extra step of encoding compared to the above. A minimal example to reproduce the problem: 
- Save the following as a local HTML document, say, `filename.html`.
- Open `filename.html#test%2B%2B%2Btest`.
- Should display: `#test%2B%2B%2Btest`.
- Displays instead: `#test+++test`.

```
<!DOCTYPE HTML>
<html>
<head>
<script>
alert(document.location.hash);
</script>
</head>
<body></body>
</html>
```

Thanks to @mattgodbolt for the test case!


Most probably it's https://bugzilla.mozilla.org/show_bug.cgi?id=1093611 (based on [mozregression](https://hg.mozilla.org/mozilla-central/pushloghtml?fromchange=a38c23ccca0a&tochange=be81b8d6fae9)).

You are having the following in the url as part of the hash:
`int+add(int+x,+int+y)+{%0A++return+x+%2B+y%3B%0A}`
The hash is considered part of the scheme (not data that would be after `?`). The hash should never use reserved characters because according to the relevant RFC (to make sure UTF-8 encoding is possible) the internal representation of such a string will always be percent-encoded before it is dereferenced again.

See [RFC 3986 §2.4](https://tools.ietf.org/html/rfc3986#section-2.4)
````
   Under normal circumstances, the only time when octets within a URI
   are percent-encoded is during the process of producing the URI from
   its component parts.  This is when an implementation determines which
   of the reserved characters are to be used as subcomponent delimiters
   and which can be safely used as data.  Once produced, a URI is always
   in its percent-encoded form.

   When a URI is dereferenced, the components and subcomponents
   significant to the scheme-specific dereferencing process (if any)
   must be parsed and separated before the percent-encoded octets within
   those components can be safely decoded, as otherwise the data may be
   mistaken for component delimiters.  The only exception is for
   percent-encoded octets corresponding to characters in the unreserved
   set, which can be decoded at any time.
````
I interpret this as anything including the URL hash (scheme) has to be separated and decoded to come to the parse-able URL, the original of which may have unencoded and encoded characters intermixed. For the URL parser, `#test%2B%2B%2Btest` and `#test+%2B+test` and `#test%2B+%2Btest` are all equivalent, since they are converted to `#test%2B%2B%2Btest` and then dereferenced to `#test+++test` as per RFC.

In your case you end up with `int+add(int+x,+int+y)+{%0A++return+x+++y;%0A}` so you lose the "+" as it's used as a delimiter by the web application. `%0A` isn't touched because it can only be represented %-encoded.

So to me this looks like a design flaw of the site, using `#` when they should be passing the data with `?something=data`?

It does look like our implementation is inconsistent, though, since `href` doesn't return the same as the `hash` sub element. So that's a bug, as outline in what JustOff indicated.
I'd be fine changing this along the same lines (with the added pref in case web applications use one or the other expectation) with the critical note that browser implementations aren't following the standard in that case.

Thanks for clarifying the underlying issue. I'm the developer of Compiler Explorer which creates those URLs: I've used rison encoding and I use the URL hash to store state; but obviously didn't realise that I was limited in what I could safely stash (nor that rison wasn't really "safe").

Why the closing? Seems like it's still something worth addressing? Due to the pervasive nature of URLs there are many out there using this format: I'll fix to not generate any new ones but there are many bookmarked out there.

@mattgodbolt, Pale Moon 27.3.0a1 (trunc) already opens https://godbolt.org/g/dW4xbr properly, you will be able to verify this by yourself when next build will be pushed into [unstable channel](https://forum.palemoon.org/viewtopic.php?f=1&t=14455).

Oh perfect! Thanks so much :)

Thank you! :-)

I'm actually uplifting this to the 27.2.1 point release since I gather more sites will be using this incorrectly this way.